streamlit
streamlit-webrtc
opencv-python-headless
mediapipe
numpy==1.26.4
pandas
easyocr
deepface
matplotlib
tensorflow-cpu==2.15
keras==2.15.0
fastapi
uvicorn[standard]
python-multipart
requests
Pillow
av
